@model IEnumerable<Resturant.Models.MenuItems>

@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menuItem in Model)
        {
            
                <tr>
                    <td>@Html.DisplayFor(modelItems => menuItem.Name)</td>
                    <td>@Html.DisplayFor(modelItems => menuItem.Price)</td>
                    <td>@Html.DisplayFor(modelItems => menuItem.Menus.MenuType)</td>
                </tr>
            
        }
    </tbody>
</table>

   @*  </table> <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MenusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MenusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MenusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>  *@
 

